# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
**/.venv/

# Node/Bun
node_modules/
**/node_modules/
bun.lockb
**/bun.lockb
.vite/
**/.vite/
.DS_Store

# Test & coverage
coverage/
**/coverage/
pytest_cache/
*.log

# Editor
.vscode/
.idea/

# Build artifacts
dist/
**/dist/

# Docker
*.env
.env.local

# Misc
*.swp
